.over_time_box {
    text-align: start;
    font-size: 25px;
    font-weight: 400;
}

.description_time_box {
    font-size: 20px;
}

.next {
    text-align: end;
    width: fit-content;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 10px;
    cursor: pointer;
}